
<div class="container">
    <br>
    <div class="card mb-3">
  <form ngNativeValidate [formGroup]="profileForm" (ngSubmit)="onSaveProfile()">
  
  
    <div class="form-group">
      <input type="text" class="form-control" id="fullname" formControlName="fullName" placeholder="fullname" required>
    </div>
  

   <div class="form-group">
   <select class="form-select"  formControlName="mySports"  aria-label="Default select example" multiple required>
    <option *ngFor="let sport of sports"   value="{{sport}}">{{sport}}</option>
  
  </select>
   </div>
  
    <div class="form-group">
      <textarea class="form-control" id="exampleTextarea" formControlName="aboutMe" placeholder="About me" rows="3"></textarea>
    </div>

  
      <div class="form-group ">
        <input formControlName="profileImg" id="file" type="file" class="form-control"(change)="onFileChange($event)">
      </div>
  
      <div class="form-group col-md-12"> 
        <button class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"
        type="submit"
        >Enregistrer mes informations </button>
      </div>
  </form>
  </div>
  </div>