
    <link href="//fonts.googleapis.com/css?family=Playfair+Display:400,700%7COpen+Sans:300,400,600,700" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <!-- <img src="#" alt="Stream UI Kit" style="width: 100px;"> -->
      <h2>SportNow</h2>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav ml-auto mr-sm-2 mt-2 mt-lg-0">
        <li class="nav-item active mr-3">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link" routerLinkActive="active"  routerLink="even">Evénement</a>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link" routerLinkActive="active"  routerLink="meteo">Meteo</a>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link" href="#">Contacts</a>
        </li>
        
      </ul>

  
         <div  class="my-2 my-lg-0">
          <a class="btn btn-light mybtn" routerLinkActive="active" *ngIf="!isLoggined()" routerLink="auth/signin">Connexion</a>
          <a class="btn btn-light mybtn"routerLinkActive="active" *ngIf="!isLoggined()" routerLink="auth/signup">S'inscrire</a>
        </div>
        <ul *ngIf="isLoggined()" class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="rounded-circle u-box-shadow-sm mr-2" width="35" height="35" src="{{ user.photo }}" alt="Htmlstream"> {{ user.name }} <i class="fas fa-angle-down small ml-1"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLinkActive="active" routerLink="profile/view/{{getId()}}">Mon Profile</a>
              <a class="dropdown-item" routerLinkActive="active" routerLink="profile/edit" >Gestion du compte</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLinkActive="active"  (click)="onSignOut()">Déconnexion</a>
            </div>
          </li>
        </ul>

 

    </div>
  </div>
</nav>








  <!-- <nav class="navbar navbar-expand-lg navbar-blue  navbar-dark">
    <a class="navbar-brand" routerLinkActive="active" routerLink="accueil"> Accueil<span class="sr-only">(current)</span></a>

   
    <button class="navbar-toggler" type="button"
            (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
  
    <div class="collapse navbar-collapse"
         [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="navbar-brand " routerLinkActive="active"  routerLink="even">Evenements</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand"  routerLinkActive="active" routerLink="meteo">Méteo</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand"  routerLinkActive="active" routerLink="autour">Avis</a>
        </li>
       
      </ul>

      <ul class="nav navbar-nav  navbar-right ">
        <li routerLinkActive="active" *ngIf="!isLoggined()">
          <a class="nav-link" routerLink="auth/signup">Créer un compte</a>
        </li>
        <li routerLinkActive="active" *ngIf="!isLoggined()">
          <a class="nav-link" routerLink="auth/signin">Connexion</a>
        </li>
        <li *ngIf="isLoggined()">
          <a class="nav-link" 
            (click)="onSignOut()"
             style="cursor:pointer"
             >Déconnexion</a>
        </li>
      </ul>
  
    </div>
  </nav> -->
