  <!-- Footer -->
  <footer class="bg-dark py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 text-center text-md-left mb-3 mb-md-0">
          <small class="text-white">&copy; 2021 <a class="text-white" href="#">SportNow</a>. All Rights Reserved.</small>
        </div>

        <div class="col-md-4 align-self-center">
          <ul class="list-inline text-center text-md-right mb-0">
            <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="Facebook">
              <a class="text-white" target="_blank" href="#">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="Instagram">
              <a class="text-white" target="_blank" href="#">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="Twitter">
              <a class="text-white" target="_blank" href="#">
                <i class="fab fa-twitter"></i>
              </a>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->