

<div class="container">
  <button type="button" (click)="onAddEvent()" id="addbtn" class="btn btn-primary btn-floating">
    <i class="fas fa-plus"></i>
  </button>
  
<div class="card-deck">
  <div  *ngFor="let event of eventsList" class="card" style="min-width: 20rem;max-width: 20rem;">
    
      <div class="content"> <a href="/even/view/{{event.id}}">
              <div class="content-overlay"></div> <img class="content-image" src="/assets/images/outdoor_sport.jpg">
              <div class="content-details fadeIn-bottom">
                  <h3 class="content-title">{{event.eventDate | date:'dd.MM.yyyy'}}</h3>
                  <p class="content-text"><i class="fa fa-map-marker"></i> {{event.city}}</p>
              </div>
          </a> 

    <div class="card-body">
      <h5 class="card-title"><a href="/even/view/{{event.id}}">{{event.title}}</a></h5>
      <p class="card-text">{{event.sport}}</p>
      <p class="card-text">{{event.description}}</p>
    </div>
  </div>
    <div class="card-body">
      <p class="card-text"><small class="text-muted">{{event.creationDate | date:'dd MMM YY, HH:mm'}} |  <a href="/profile/view/{{event.author.id}}">{{event.author.name}}</a></small></p>
    </div>
  
  </div>

</div>
</div>
