
<div class="container">
  <div class="card mb-3" >
    <img class="card-img-top" src="/assets/images/outdoor_sport.jpg" alt="Card image cap" style="max-height:20rem">
    <div class="card-body">

        <div class="d-flex flex-row justify-content-between align-items-center mt-2">
            <div class="d-flex flex-row align-items-center"><img class="rounded-circle" src="{{event.author}}" width="55">
                <div class="d-flex flex-column align-items-start ml-2">
                  <span class="font-weight-bold">{{event.author?.name}}</span>
                  <span class="followers"><small class="text-muted">{{event.creationDate | date:'dd MMM YY, HH:mm'}} |  <a href="/profile/view/{{event.author?.id}}">Profile</a></small></span></div>
            </div>
            <div class="d-flex flex-row align-items-center mt-2">
                <button *ngIf="event.author.id===currUsr" (click)="deleteEvent()" type="button" class="mybtn btn btn-lg btn-outline-info btn--circle"> <i class="fas fa-trash-alt"></i> </button>
                <button *ngIf="!event.isParticipate && event.author.id!==currUsr" (click)="participate()" class="btn btn-outline-primary " type="button">Participer à l'événement</button>
                <button *ngIf="event.isParticipate && event.author.id!==currUsr" (click)="removeParticipe()" class="btn btn-outline-primary " type="button">Annuler la participation à l'événement</button>
            </div>
        </div>

      <p class="card-text"></p>
      <h5 class="card-title d-flex flex-row justify-content-center align-items-center">{{event.title}} - {{event.sport}}</h5>
      <p class="card-text d-flex flex-row justify-content-center align-items-center">{{event.description}}</p>
      <p class="card-text d-flex flex-row justify-content-center align-items-center">{{event.eventDate | date:'dd LLLL yyyy , HH:mm'}}</p>
      <p class="card-text d-flex flex-row justify-content-center align-items-center">{{event.eventAddress}}</p>
      <p class="card-text d-flex flex-row justify-content-center align-items-center">{{event.city}}, {{event.postalCode}} </p>


      <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" [src]="event.geoEncode.url | safeurl " style="border: 1px solid black"></iframe>


      <div class="container mt-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-6">
                <div class="p-3 bg-white text-center">
                    <p>Les participants de l'événement <br></p>

                    <div *ngFor="let par of event.participants" class="d-flex flex-row justify-content-between align-items-center mt-2">
                        <div class="d-flex flex-row align-items-center"><img class="rounded-circle" src="{{par.photo}}" width="55">
                            <div class="d-flex flex-column align-items-start ml-2"><a href="/profile/view/{{par.id}}"><span class="font-weight-bold">{{par.name}}</span></a></div>
                        </div>
                        <div class="d-flex flex-row align-items-center mt-2"><button class="btn btn-outline-primary btn-sm" type="button">Follow</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </div>
  </div>
  </div>
  