<div class="container">
  <div class="card mb-3">
<form ngNativeValidate [formGroup]="evenForm" (ngSubmit)="onSaveEvent()">


  <div class="form-group">
    <input type="text" class="form-control" id="title" formControlName="title" placeholder="Titre" required>
  </div>

  <div class="form-group">
    <input class="form-control" type="datetime-local" value="" formControlName="eventDate" id="example-datetime-local-input" required>
 </div>
 <div class="form-group">
 <select class="form-select"  formControlName="selectSport"  aria-label="Default select example" required>
  <option *ngFor="let sport of sports"   value="{{sport}}">{{sport}}</option>

</select>
 </div>

  <div class="form-group">
    <input type="text" class="form-control" id="eventAddress" formControlName="eventAddress" placeholder="Adresse" required>
  </div>

  <div class="form-group">
    <textarea class="form-control" id="exampleTextarea" formControlName="description" placeholder="Déscription..." rows="3"></textarea>
  </div>

    <div class="form-group ">
      <input type="text" class="form-control" formControlName="city" id="inputCity" placeholder="Ville" required>
    </div>

    <div class="form-group ">
      <input type="text" class="form-control" formControlName="postalCode" id="inputPostalcode" placeholder="Code postale" required>
    </div>

    <div class="form-group col-md-12"> 
      <button class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"
      type="submit"
      >Ajouter un événement</button>
    </div>
</form>
</div>
</div>