
    <!-- Header -->
    <header>


      <!-- Promo Block -->
      <section class="js-parallax u-promo-block u-promo-block--mheight-500 u-overlay u-overlay--dark text-white" style="background-image: url(assets/img-temp/1920x1080/img5.jpg);">
        <!-- Promo Content -->
        <div class="container u-overlay__inner u-ver-center u-content-space">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="text-center">
                <h6 class="display-sm-4 display-lg-3"></h6>
                
              </div>
            </div>
          </div>
        </div>
        <!-- End Promo Content -->
      </section>
      <!-- End Promo Block -->
    </header>
    <!-- End Header -->

    <main role="main">
      <!-- About Section -->
      <section>
        <div class="container">
          <!-- Profile Block -->
          <div class="row">
            <div class="col-md-4 mx-auto">
              <div class="u-pull-half text-center">
                <img class="img-fluid u-avatar u-box-shadow-lg rounded-circle mb-3" width="200" height="200" src="{{user.photo}}" alt="Image Description">
                <p class="h6 text-uppercase u-letter-spacing-sm mb-2">{{user.name}}</p>
              </div>
            </div>
          </div>
          <!-- End Profile Block -->

          <!-- About and Skills -->
          <div class="row u-content-space-bottom">
            <div class="col-lg-6 mb-5 mb-lg-5 pl-lg-5">
              <h4 class="mb-3">A propos de moi</h4>
              <p>{{user.aboutMe}}</p>
              <p class="blockquote-footer"></p>
            </div>

            <div class="col-lg-6">
              <h4 class="mb-3">Mes info</h4>
              <!-- Progress Bar -->
              <h4 class="u-font-size-90 mb-1">Email: {{user.email}}</h4>
              <div class="progress mb-3">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <!-- End Progress Bar -->

              <!-- Progress Bar -->
              <h4 class="u-font-size-90 mb-1">Sports préférés: {{user.mySports}}</h4>
              <div class="progress mb-3">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <!-- End Progress Bar -->
            </div>
          </div>
          <!-- End About and Skills -->
        </div>
      </section>
      <!-- End About Section -->

      <div class="container">
        <hr class="my-0">
      </div>

      <!-- Portfolio -->
      <section class="u-content-space">
        <div class="container">
          <header class="text-center w-md-50 mx-auto mb-8">
            <h2 class="h1">Evénements</h2>
            <p class="h5">Mes dernières participations.</p>
          </header>

          <!-- Work Content -->
          <div class="js-shuffle u-portfolio row no-gutters mb-6">
            
            <figure *ngFor="let event of events" class="col-sm-6 col-md-4 u-portfolio__item" data-groups='["its-illustration"]'>
              <img class="u-portfolio__image" src="assets/images/outdoor_sport.jpg" alt="Image Description">
              <figcaption class="u-portfolio__info">
                <h6 class="mb-0">{{event.title}}</h6>
                <small class="d-block">{{event.city}}</small>
              </figcaption>
              <a class="js-popup-image u-portfolio__zoom" href="/even/view/{{event.id}}">Zoom</a>
            </figure>

            <!-- sizer -->
            <figure class="col-sm-6 col-md-4 u-portfolio__item shuffle_sizer"></figure>
          </div>
          <!-- End Work Content -->

        </div>
      </section>
      <!-- End Portfolio -->
    </main>

  


