
    <section class="login-block">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-12">
                  <form class="md-float-material form-material" action="#" method="POST">
                      <div class="auth-box card">
                          <div class="card-block">
                              <div class="row">
                                  <div class="col-md-12">
                                      <h3 class="text-center heading">Connexion</h3>
                                  </div>
                              </div>
                              <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
                              <div class="form-group form-primary"> 
                                <input type="text" class="form-control" name="Adresse mail" value="" placeholder="Adresse mail" id="email" formControlName="email">
                                
                              </div>
                              <div class="form-group form-primary"> <input type="password" class="form-control" name="Mot de passe" value="" placeholder="mot de passe" id="password"formControlName="password"> </div>
                              
                              <div class="row">
                                  <div class="col-md-12"> 
                                    <button class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"
                                    type="submit"
                                    [disabled]="signinForm.invalid">Connexion</button>
                                  </div>
                              </div>
                            </form>
                              <div class="or-container">
                                  <div class="line-separator"></div>
                                  <div class="or-label">or</div>
                                  <div class="line-separator"></div>
                              </div>
                              <div class="row">
                              </div> <br>
                              <p class="text-inverse text-center">Vous n'avez pas de compte? <a href="/auth/signup" data-abc="true">Inscriez vous gratuitement</a></p>
                              <p class="text-danger">{{ errorMessage }}</p>
                            </div>
                      </div>
                  </form>
                  
              </div>
          </div>
      </div>
  </section>