
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Modifier un Evenement</h2>
      <form [formGroup]="evenForm" (ngSubmit)="onUpdateEven()">
        <div class="form-group">
          <label for="sport">Sport</label>
          <select id="sport"
                 class="form-control" formControlName="sport">
                 
            <option value="Football">Football</option>
            <option value="Basketball" selected>Basketball</option>
            <option value="Boxe">Boxe</option>
          </select>

        
        </div>

        <div class="form-group">
            <label for="lieu">Lieu</label>
            <input type="text" id="lieu"
                   class="form-control" formControlName="lieu">
          </div>

        <div class="form-group">
          <label for="date">Date</label>
          <input type="date" id="date"
                 class="form-control" formControlName="date">
        </div>

        <div class="form-group">
            <label for="heure">Heure</label>
            <input type="time" id="heure"
                   class="form-control" formControlName="heure">
          </div>

       

        <div class="form-group">
          <label for="description">Description</label>
          <textarea id="description"
                    class="form-control" formControlName="description">
          </textarea>
        </div>
        
        <div class="form-group">
          <h4>Ajouter une photo</h4>
          <input type="file" (change)="detectFiles($event)"
                 class="form-control" accept="image/*">
          <p class="text-success" *ngIf="fileUploaded">Fichier chargé !</p>
      </div>
      

        <button class="btn btn-success" [disabled]="evenForm.invalid"
                type="submit">Enregistrer
        </button>
  
      </form>
    </div>
  </div>
