<link href="https://fonts.googleapis.com/icon?family=Material+Icons" 
rel="stylesheet">

<mat-carousel
timings="250ms ease-in"
[autoplay]="true"
[interval]=5000
color="accent"
maxWidth="auto"
[proportion]="40"
[slides]="10"
[loop]="true"
[hideArrows]="false"
[hideIndicators]="false"
[useKeyboard]="true"
[useMouseWheel]="false"
orientation="ltr"
>

<mat-carousel-slide
  #matCarouselSlide
  *ngFor="let slide of slides; let i = index"
  [image]="slide.image"
  overlayColor="#00000040"
  [hideOverlay]="false"
></mat-carousel-slide>
</mat-carousel>


<div class="row">
  <div class="col-12 col-lg-4">
    <div class="card">  
      <img src="../assets/images/accueil/card/team.png" alt="evénements" class="card-img-top" style="max-height:280px;">
      <div class="card-body">
        <h5 class="card-title">Evénements sportives</h5>
        <p class="card-text">Organiser et participer à des evénements dans votre ville dans les différents sport.</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4">
    <div class="card">
        <img src="../assets/images/accueil/card/stadium.png " alt="stadium" class="card-img-top "style="max-height:500px;">
        <div class="card-body">
        <h5 class="card-title">Terrain de sport</h5>
        <p class="card-text">Se géocaliser automatiquement et regarder les differents terrains de sport autour de vous.  </p>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4">
    <div class="card">
      <img src="../assets/images/accueil/card/meteo.png" alt="meteo" class="card-img-top" style="max-height:500px;">
      <div class="card-body">
        <h5 class="card-title">Méteo</h5>
        <p class="card-text">Vérifier la méteo de votre ville pour s'assurer que les evénements vont se passer dans les meilleurs conditions.</p>
      </div>
    </div>
  </div>
</div>

